<nav id="navbar" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to ('FORMACRIL').html_safe, welcome_index_path, class: 'navbar-brand' %>
    </div>
    <div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to ('INICIO').html_safe, '#home', class: 'navbar-home' %></li>
          <li><%= link_to ('¿QUIÉNES SOMOS?').html_safe, '#about' %></li>
          <li><%= link_to ('SERVICIOS').html_safe, '#products' %></li>
          <li><%= link_to ('CONTACTO').html_safe, '#contact' %></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
